<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-3 mb-4">
        <h5 class="card-header">Status Table</h5>
        <div class="card-body">
          <h6 class="card-title">Description</h6>
          <p class="card-text">FontAwesome icons and tooltips. Responsive at screen sizes below 992px.</p>
        </div>
        <app-status-table></app-status-table>
      </div>
      <div class="card mb-4">
        <h5 class="card-header">Result Table</h5>
        <div class="card-body">
          <h6 class="card-title">Description</h6>
          <p class="card-text">Responsive at all screen sizes.</p>
        </div>
        <app-result-table></app-result-table>
      </div>
      <div class="card mb-4">
        <h5 class="card-header">RI Correction Table</h5>
        <div class="card-body">
          <h6 class="card-title">Description</h6>
          <p class="card-text">Responsive at screen sizes below 576px.</p>
        </div>
        <app-ri-correction-table></app-ri-correction-table>
      </div>
      <div class="card mb-4">
        <h5 class="card-header">RI Curve Graph</h5>
        <div class="card-body">
          <h6 class="card-title">Description</h6>
          <p class="card-text">Fixed size 700px x 400px</p>
        </div>
        <app-ri-curve-graph></app-ri-curve-graph>
      </div>
    </div>
  </div>
</div>