<h4>
  <i class="fa fa-table"></i> Generate Acquisition Table<br>
  <small class="text-muted">Update MiniX studies with filenames based on your acquisition properties</small>
</h4>
<br>

<form novalidate [formGroup]="acquistionTableForm">
  <div class="form-row">
    <div class="col-md-12 mb-3">
    <label>Study Identifier (Sample filename prefix):</label>
    <input type="text" class="form-control" formControlName="studyLabel" required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>MiniX ID #1:</label>
      <input type="text" class="form-control" formControlName="minix1" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Platform</label>
      <select class="custom-select custom-select mb-3" formControlName="minix1_label">
        <option *ngFor="let label of minixFileLabels" [ngValue]="label">{{label}}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>MiniX ID #2:</label>
      <input type="text" class="form-control" formControlName="minix2" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Platform</label>
      <select class="custom-select custom-select mb-3" formControlName="minix2_label">
        <option *ngFor="let label of minixFileLabels" [ngValue]="label">{{label}}</option>
      </select>
    </div>
  </div>

<!--
  <div class="form-row">
    <div class="col-md-2 mb-3">
        <label>Enabled</label>
        <input type="checkbox" formControlName="blankEnabled">
    </div>
    <div class="col-md-6 mb-3">
      <label>Blank Label</label>
      <input type="text" class="form-control" formControlName="blankLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="blankFrequency">
    </div>
  </div>
-->
  <div class="form-row">
    <div class="col-md-2 mb-3">
        <label>Enabled</label>
        <input type="checkbox" formControlName="methodBlankEnabled">
    </div>
    <div class="col-md-6 mb-3">
      <label>Method Blank Label</label>
      <input type="text" class="form-control" formControlName="methodBlankLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="methodBlankFrequency">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-2 mb-3">
        <label>Enabled</label>
        <input type="checkbox" formControlName="qcEnabled">
    </div>
    <div class="col-md-6 mb-3">
      <label>QC Label</label>
      <input type="text" class="form-control" formControlName="qcLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="qcFrequency">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-2 mb-3">
        <label>Enabled</label>
        <input type="checkbox" formControlName="nistEnabled">
    </div>
    <div class="col-md-6 mb-3">
      <label>NIST QC Label</label>
      <input type="text" class="form-control" formControlName="nistLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="nistFrequency">
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-12 mb-3">
    <label>MS/MS Samples</label>
    <input type="text" class="form-control" formControlName="msmsNumber" required>
    </div>
  </div>
</form>