<h4>
  <i class="fa fa-table"></i> Generate Acquisition Table<br>
  <small class="text-muted">Update MiniX studies with filenames based on your acquisition properties</small>
</h4>
<br>

<form novalidate [formGroup]="atForm">
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label>Study Identifier (Sample filename prefix):</label>
      <input type="text" class="form-control" formControlName="studyLabel" required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>MiniX ID</label>
      <input type="text" class="form-control" formControlName="minix" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Platform</label>
      <select class="custom-select custom-select mb-3" formControlName="minix_label">
      <option *ngFor="let label of minixFileLabels" [ngValue]="label">{{label}}</option>
      </select>
    </div>
  </div>

  <div class="form-row text-center">
    <div class="col-md-2 mb-3"></div>
    <div class="col-md-4 mb-3">
      <label>Positive Mode</label><br>
      <input type="checkbox" class="form-control-lg" formControlName="positiveMode">
    </div>
    <div class="col-md-4 mb-3">
      <label>Negative Mode</label><br>
      <input type="checkbox" class="form-control-lg" formControlName="negativeMode">
    </div>
    <div class="col-md-2 mb-3"></div>
  </div>

  <div class="mb-5">
    <button type="submit" class="btn btn-primary" (click)="pullMiniX()">Pull MiniX Data</button>
  </div>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Blanks</label><br>
      <input type="checkbox" class="form-control-lg" formControlName="blankEnabled">
    </div>
    <div class="col-md-5 mb-3">
      <label>Label</label>
      <input type="text" class="form-control" formControlName="blankLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="blankFrequency">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Quality Controls</label><br>
      <input type="checkbox" formControlName="qcEnabled">
    </div>
    <div class="col-md-5 mb-3">
      <label>Label</label>
      <input type="text" class="form-control" formControlName="qcLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="qcFrequency">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>NIST QCs</label><br>
      <input type="checkbox" formControlName="nistEnabled">
    </div>
    <div class="col-md-5 mb-3">
      <label>Label</label>
      <input type="text" class="form-control" formControlName="nistLabel">
    </div>
    <div class="col-md-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="nistFrequency">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label>MS/MS Samples</label>
      
    </div>
  </div>
</form>