<h4>MiniX ID: {{data.miniXID}}</h4>
<h5 class="mb-5">{{data.miniXData.experiment.$.title}}</h5>

<form novalidate [formGroup]="form">
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <h5>MS/MS Samples</h5>
      
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>#</th>
          <th>Filename</th>
          <th>Label</th>
          <th>Comment</th>
        </tr>
        <tr *ngFor="let sample of data.sampleData; index as i">
          <td><input type="checkbox" *ngIf="sample.userdata"></td>
          <td>{{i}}</td>
          <td>{{sample.filename.replace(data.miniXID +'_', '').replace('{METHOD}', method)}}</td>
          <td>{{sample.userdata ? sample.userdata.label : ''}}</td>
          <td>{{sample.userdata ? sample.userdata.comment : ''}}</td>
        </tr>
      </table>
    </div>
  </div>
</form>