<form novalidate [formGroup]="atForm">
  <div class="form-row text-center">
    <div class="col-md-2 mb-3"></div>
    <div class="col-md-4 mb-3">
      <label>Positive Mode</label><br>
      <input type="checkbox" class="form-control-lg" formControlName="positiveMode">
    </div>
    <div class="col-md-4 mb-3">
      <label>Negative Mode</label><br>
      <input type="checkbox" class="form-control-lg" formControlName="negativeMode">
    </div>
    <div class="col-md-2 mb-3"></div>
  </div>
</form>