<form novalidate [formGroup]="form">
  <div class="form-row">
    <div class="col-md-12 mb-5">
      <label>Study Identifier (Sample filename prefix, e.g. <b>Fiehn</b>001_posHILIC_C1_020):</label>
      <input type="text" class="form-control" formControlName="studyLabel"
        [ngClass]="displayFieldCss('studyLabel')" required>
      <div class="invalid-feedback" *ngIf="!isValid('studyLabel')">
        Please enter a filename prefix for this study (between 1 and 16 characters)
      </div>
    </div>
  </div>

  <div class="form-row text-center">
    <div class="col mb-5" *ngFor="let platform of platforms">
      <label>{{platform}}</label><br>
      <input type="radio" name="platform" [value]="platform" formControlName="platform">
    </div>
  </div>

  <div class="form-row text-center" formGroupName="ionization">
    <div class="col-sm-6 col-xs-12 mb-2">
      <label>Positive Mode</label><br>
      <input type="checkbox" formControlName="positiveMode"
        [ngClass]="displayFieldCss('ionization')"><br>
      <select class="form-control" formControlName="positiveModeInstrument">
        <option [ngValue]="null">Select Instrument</option>
        <option *ngFor="let instrument of instruments" [ngValue]="instrument">{{instrument}}</option>
      </select>
    </div>
    <div class="col-sm-6 col-xs-12 mb-2">
      <label>Negative Mode</label><br>
      <input type="checkbox" formControlName="negativeMode"
        [ngClass]="displayFieldCss('ionization')"><br>
      <select class="form-control" formControlName="negativeModeInstrument">
        <option [ngValue]="null">Select Instrument</option>
        <option *ngFor="let instrument of instruments" [ngValue]="instrument">{{instrument}}</option>
      </select>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12 text-center text-danger" *ngIf="!isValid('ionization')">
      Please enable and select an instrument for at least one ionization mode
    </div>
  </div>


  <hr>
  <h5 class="mb-3">Blanks and QC Options</h5>

  <div class="form-row">
    <div class="col-sm-3 mb-3">
      <label>Blanks</label><br>
      <input type="checkbox" class="form-control-lg" formControlName="blankEnabled">
    </div>
    <div class="col-sm-5 mb-3">
      <label>Label</label>
      <input type="text" class="form-control" formControlName="blankLabel"
        [ngClass]="displayFieldCss('blankLabel')">
      <div class="invalid-feedback" *ngIf="!isValid('blankLabel')">
        Please enter a blank label
      </div>
    </div>
    <div class="col-sm-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="blankFrequency"
        [ngClass]="displayFieldCss('blankFrequency')">
      <div class="invalid-feedback" *ngIf="!isValid('blankFrequency')">
        Frequency must be at least 1
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-3 mb-3">
      <label>Primary QC</label><br>
      <input type="checkbox" formControlName="qcEnabled">
    </div>
    <div class="col-sm-5 mb-3">
      <label>Label</label>
      <input type="text" class="form-control" formControlName="qcLabel"
        [ngClass]="displayFieldCss('qcLabel')">
      <div class="invalid-feedback" *ngIf="!isValid('qcLabel')">
        Please enter a primary QC label
      </div>
    </div>
    <div class="col-sm-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="qcFrequency"
        [ngClass]="displayFieldCss('qcFrequency')">
      <div class="invalid-feedback" *ngIf="!isValid('qcFrequency')">
        Frequency must be at least 1
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Secondary QC</label><br>
      <input type="checkbox" formControlName="qc2Enabled">
    </div>
    <div class="col-sm-5 mb-3">
      <label>Label</label>
      <input type="text" class="form-control" formControlName="qc2Label"
             [ngClass]="displayFieldCss('qc2Label')">
      <div class="invalid-feedback" *ngIf="!isValid('qc2Label')">
        Please enter a Secondary QC label
      </div>
    </div>
    <div class="col-sm-4 mb-3">
      <label>Frequency</label>
      <input type="text" class="form-control" formControlName="qc2Frequency"
             [ngClass]="displayFieldCss('qc2Frequency')">
      <div class="invalid-feedback" *ngIf="!isValid('qc2Frequency')">
        Frequency must be at least 1
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-12 mt-3 mb-3">
      <label>Inject Pooled QC after Primary QC</label><br>
      <input type="checkbox" formControlName="pooledQC">
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-12 mt-3 mb-3">
      <label>Inject Blanks Before Primary QC</label><br>
      <input type="checkbox" formControlName="blanksFirst">
    </div>
  </div>

  <hr>
  <h5 class="mb-3">Sample Ordering Options</h5>

  <div class="form-row text-center">
    <div class="col mb-3">
      <label>Default MiniX Ordering<br> (No Randomization)</label><br>
      <input type="radio" name="randomize" value="none" formControlName="randomize">
    </div>

    <div class="col mb-3">
      <label>Randomize Samples</label><br>
      <input type="radio" name="randomize" value="randomize" formControlName="randomize">
    </div>

    <div class="col mb-3">
      <label>Custom Ordering</label><br>
      <input type="radio" name="randomize" value="custom" formControlName="randomize">
    </div>
  </div>

  <div *ngIf="form.value.randomize == 'custom'">
    <label>
      Paste a list of sample labels in the desired injection order with one label per line. 
      The length of this sample label list must be the same as the number of samples in the
      MiniX study
    </label>
    <textarea formControlName="customOrdering" rows="6" cols="75"></textarea>
    <div class="text-danger" *ngIf="error">{{error}}</div>
  </div>


  <div class="mt-3">
    <button type="submit" class="btn btn-warning" (click)="reset()">
      <i class="fa fa-repeat"></i> Restart
    </button>

    <button type="submit" class="btn btn-primary pull-right" (click)="nextStep()" [disabled]="!form.valid">
      Build File List <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</form>