<div class="row">
  <div class="col-md-12 mb-3">
    <h4>
      <i *ngIf="submitCount < maxCount" class="fa fa-cog fa-spin fa-fw"></i>
      Submitting Acquisition Table to Stasis Sample Manager...
    </h4>

    <p class="mb-3">
      <ngb-progressbar type="info" [max]="maxCount" [value]="submitCount"
        [striped]="submitCount < maxCount" [animated]="submitCount < maxCount" height="20px">

        {{submitCount}} / {{maxCount}}
      </ngb-progressbar>
    </p>

    <div *ngIf="errors.length > 0">
      <h4 class="text-danger">{{errors.length}} errors encountered!</h4>

      <div class="mb-5" *ngIf="submitCount == maxCount">
        Errors were encountered when submitting this acquisition table. 
        Please download the following file and send it to the development team
        or wohlgemuth@ucdavis.edu.  Then go to the next page to download your
        acquisition table.

        <div class="text-center mt-5">
          <button class="btn btn-warning" (click)="download()">
            <i class="fa fa-download" aria-hidden="true"></i> 
            Download Error Log
          </button>
          &nbsp;

          <button class="btn btn-primary" (click)="nextStep()">
            View Acquisition Table <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>