<form novalidate [formGroup]="form">
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <h5>Mark MS/MS Samples</h5>
      
      <table class="table table-striped mb-3">
        <tr>
          <th></th>
          <th>#</th>
          <th>Filename</th>
          <th>Label</th>
          <th>Comment</th>
        </tr>
        <tr *ngFor="let sample of data.acquisitionData; index as i">
          <td>
            <input type="checkbox" *ngIf="sample.userdata"
              [(ngModel)]="data.msmsSelection[i].selected"
              (change)="selectMSMS($event, i)"
              [ngModelOptions]="{standalone: true}">
            &nbsp;

            <select disabled *ngIf="sample.userdata"
              [ngModel]="data.msmsSelection[i].order"
              [ngModelOptions]="{standalone: true}">

              <option [ngValue]="null"></option>
              <option *ngFor="let j of acquisitionTableService.generateSampleNumbers(msmsSelectedCount)" [ngValue]="j">{{j}}</option>
            </select>
          </td>
          <td>{{i + 1}}</td>
          <td>{{sample.filename.split('_MX')[0]}}</td>
          <td>{{sample.userdata ? sample.userdata.label : ''}}</td>
          <td>{{sample.userdata ? sample.userdata.comment : ''}}</td>
        </tr>
      </table>


      <h5 class="mb-3">Marked {{msmsSelectedCount}} samples for MS/MS injections</h5>

      <div class="mb-5">
        <button type="submit" class="btn btn-primary" (click)="select(4)">
          <i class="fa fa-check-square-o"></i> Check Last 4
        </button>
        &nbsp;

        <button type="submit" class="btn btn-primary" (click)="select(8)">
          <i class="fa fa-check-square-o"></i> Check Last 8
        </button>
        &nbsp;

        <button type="submit" class="btn btn-warning" (click)="resetMSMS()">
          <i class="fa fa-repeat"></i> Deselect All
        </button>
      </div>


      <h5 class="mb-3">Number of Pooled MS/MS samples</h5>

      <div class="mb-5">
        <input type="number" class="form-control" formControlName="pooledMSMS"
                [ngClass]="displayFieldCss('pooledMSMS')">
        <div class="invalid-feedback" *ngIf="!isValid('pooledMSMS')">
            Please enter the number of pooled MS/MS
        </div>
      </div>


      <h5 class="mb-3">Add Labels for MS/MS Injection Runs</h5>

      <div class="mb-3">
        <label>
          If running a single set of MS/MS samples, add a single optional label or leave blank.  
          Otherwise, add labels for each run separated by commas. 
          For example, if running the same MS/MS samples at 10 CID and 40 CID,
          you can enter the labels as <code>10CID,40CID</code>.  The final acquisition
          table will then contain twice the number of selected MS/MS filenames.
        </label>
        <input type="text" class="form-control" formControlName="injectionLabels"
                [ngClass]="displayFieldCss('injectionLabels')">
        <div class="invalid-feedback" *ngIf="!isValid('injectionLabels')">
            Please either leave blank for a single set of injections or add labels for
            each run separated by commas
        </div>
        <div class="text-danger" *ngIf="error">{{error}}</div>
      </div>


      <div>
        <button type="submit" class="btn btn-info" (click)="lastStep()">
          <i class="fa fa-arrow-left"></i> Back
        </button>
        &nbsp;
        <button type="submit" class="btn btn-primary pull-right" (click)="nextStep()" [disabled]="!form.valid">
          Preview Acquisition Table <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</form>