<h3>
  <i class="fa fa-table"></i> Generate Acquisition Table<br>
  <small class="text-muted">Update MiniX studies with filenames based on your acquisition properties</small>
</h3>
<br>

<div *ngIf="data.step > 1">
  <h4>MiniX ID: <a href="http://minix.fiehnlab.ucdavis.edu/studie/show/{{data.miniXID}}" target="_blank">{{data.miniXID}}</a></h4>
  <h5 class="mb-5">{{data.miniXData.experiment.$.title}}</h5>
</div>

<app-atf-minix *ngIf="data.step == 1" [data]="data"></app-atf-minix>

<app-atf-lcms *ngIf="data.step == 2" [data]="data"></app-atf-lcms>

<app-atf-msms *ngIf="data.step == 3" [data]="data"></app-atf-msms>

<app-atf-confirm *ngIf="data.step == 4" [data]="data"></app-atf-confirm>

<app-atf-submit *ngIf="data.step == 5" [data]="data"></app-atf-submit>

<div class="row" *ngIf="data.step == 6">
  <div class="col" *ngFor="let mode of Object.keys(data.ionizations)">
      <h5>{{mode}}{{data.platform}}</h5>

      <table class="table table-striped mt-2 mb-5">
        <tr *ngFor="let filename of generateAcquisitionFilenames(data, mode)">
          <td>{{filename.replace('{METHOD}', mode + data.platform)}}</td>
        </tr>
      </table>
  </div>
</div>