<div *ngIf="data && data.length > 1; else vertical" >
  <table class="table table-sm table-light table-striped table-bordered table-responsive" aria-label="Status Table">
    <thead>
      <tr>
        <th>Sample ({{ data.length }})</th>
        <th *ngFor="let stat of statusKeys | slice: 0:-1; let i = index; let last = last;">{{ stat }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data | slice: pageSize * (page - 1) : (pageSize * page) - 1">
        <td><a class="badge" (click)="onSampleSelect(row.sample)">{{ row.sample }}</a></td>
        <td class="text-center connected" *ngFor="let stat of sortedStatuses(row.status, statusDef);">
          <ng-template [ngIf]="stat !== 'failed'" [ngIfElse]="failed">
            <i *ngIf="stat !== 'empty'" class="fa fa-check-circle fa-2x success" 
            placement="top" containter="body" ngbTooltip="{{ stat }} - {{ getDate(get_time(row.status, stat)) }}"></i>
            <i *ngIf="stat === 'empty'" class="fa fa-minus" placement="top" containter="body"></i>
          </ng-template>
          <ng-template #failed>
            <i class="fa fa-exclamation-circle fa-2x error" placement="top" containter="body" ngbTooltip=""></i>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination class="d-flex justify-content-center" 
    [collectionSize]="data.length" 
    [pageSize]="pageSize"
    [(page)]="page" 
    [maxSize]="5" 
    [rotate]="true" 
    [ellipses]="false" 
    [boundaryLinks]="true">
  </ngb-pagination>
</div>

<ng-template #vertical>
  <div class="container">
  <table class="table table-sm table-light table-striped" aria-label="Status Table">
    <tbody class="table-body">
      <tr class="row" *ngFor="let stat of sortedStatuses(data[0].status, statusDef) | slice: 0; let i = index; let last = last;">
        <td class="col centered">{{ statusKeys[i] }}</td>
        <td class="col centered" *ngIf="stat !== 'failed'; else failed">
          <i *ngIf="stat !== 'empty'" class="fa fa-check-circle fa-2x success" 
            placement="top" containter="body" ngbTooltip="{{ stat }} - {{ getDate(get_time(data[0].status, stat)) }}"></i>
          <i *ngIf="stat === 'empty'" class="fa fa-minus" placement="top" containter="body"></i>
        </td>
        <ng-template #failed>
          <td class="col">
            <i class="fa fa-exclamation-circle fa-2x error" placement="top" containter="body"
              ngbTooltip="{{ stat }} - {{ getDate(get_time(data[0].status, stat)) }}"></i>
          </td>
          <td class="col">{{ getDate(get_time(data[0].status, stat)) }}</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  </div>
</ng-template>
