<div *ngIf="data">
  <table class="table table-sm table-light table-striped table-bordered table-responsive" aria-label="Status Table">
    <thead>
      <tr>
        <th>Sample ({{ data.length }})</th>
        <th *ngFor="let stat of statusKeys | slice: 0:-1; let i = index; let last = last;">{{ stat }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data | slice: pageSize * (page - 1) : (pageSize * page) - 1">
        <td>{{ row.sample }}</td>
        <td class="text-center connected" *ngFor="let stat of sortedStatuses(row.status, statusDef);">
          <ng-template [ngIf]="stat !== 'failed'" [ngIfElse]="failed">
            <i *ngIf="stat !== 'empty'" class="fa fa-check-circle fa-2x success" 
            placement="top" containter="body" ngbTooltip="{{ stat }} - {{ getDate(get_time(row.status, stat)) }}"></i>
            <i *ngIf="stat === 'empty'" class="fa fa-minus" placement="top" containter="body"></i>
          </ng-template>
          <ng-template #failed>
            <i class="fa fa-exclamation-circle fa-2x error" placement="top" containter="body" ngbTooltip=""></i>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination class="d-flex justify-content-center" 
    [collectionSize]="data.length" 
    [pageSize]="pageSize"
    [(page)]="page" 
    [maxSize]="5" 
    [rotate]="true" 
    [ellipses]="false" 
    [boundaryLinks]="true">
  </ngb-pagination>
<div>