/**
 * Simple Fiehn Lab Theme
 */

body {
  padding-top: 5rem;
  background-color: #f8f8f8;
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 992px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

form {
	margin-bottom: 2em;
}

a {
  cursor: pointer;
}