<h3>
  <i class="fa fa-table"></i> Get Results<br>
  <small class="text-muted">Get you some results</small>
</h3>
<br>

<div class="row">
  <app-messages *ngIf="messages"></app-messages>
  <div class="col">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="setExperiment()">Get Experiment</button>
      </div>
      <input type="text" class="form-control" placeholder="Experiment Name" aria-label="Experiment Name" [(ngModel)]="experiment" (keyup.enter)="setExperiment()">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="setSample()">Get Sample</button>
      </div>
      <input type="text" class="form-control" placeholder="Sample Name" aria-label="Sample Name" [(ngModel)]="sample" (keyup.enter)="setSample()">
    </div>
  </div>
</div>

<div *ngIf="showExperiment()">
  <app-experiment-table [(experiment)]="selectedExperiment" [statusDef]="statusObject"
  [(sample)]="selectedSample"></app-experiment-table>
</div>

<div *ngIf="showSample()">
  <app-sample-master [(sample)]="selectedSample" [statusDef]="statusObject"></app-sample-master>
</div>
